/*
* @Author: Administrator
* @Date:   2018-02-04 07:40:59
* @Last Modified by:   Administrator
* @Last Modified time: 2018-02-25 00:25:55
*/
@font-face {
  font-family: 'iconfont';  /* project id 563113 */
  src: url('https://at.alicdn.com/t/font_563113_0u04a5240lik9.eot');
  src: url('https://at.alicdn.com/t/font_563113_0u04a5240lik9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_563113_0u04a5240lik9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_563113_0u04a5240lik9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_563113_0u04a5240lik9.svg#iconfont') format('svg');
}

.toolbar{
	width: 100%;
	height: 40px;
	background-color: #F5F5F5;
}
.toolbar_medium{
	width: 1190px;
	height: 40px;
	margin: 0 auto;
}
.toolbar_medium_left{
	width: 320px;
	height: 40px;
	float: left;
}
.toolbar_left_item{
	width: 80px;
	height: 40px;
	float: left;
	text-align: center;
	font-size: 12px;
	color: #666;
}
.toolbar_left_item:hover{
	background-color: white;
} 

.toolbar_medium_right{
	width: 720px;
	height: 40px;
	float: right;
}
.toolbar_left_item span{
	line-height: 40px;
	color: #666;
	font-family: 'iconfont';
}
.toolbar_right_item{
	width: 80px;
	height: 40px;
	font-family: 'iconfont'; 
	float: left;
	text-align: center;
	font-size: 12px;
	color: #666;
}
.toolbar_right_item span{
	text-align: center;
	line-height: 40px;
	color: #666;
	font-family: 'iconfont';
}
.toolbar_right_item span:hover{
	color: red;
}
.toolbar_right_item:hover{
	cursor: pointer;
}
.head{
	width: 1190px;
	height: 104px;
	margin: 0 auto;
	background-color: white;
}
.head_left img{
	width: 190px;
	height: 90px;
	float: left;
	line-height: 104px;
}
.head_left1 img{
	width: 160px;
	height: 100px;
	float: left;
}
.head_left3{	
	width: 80px;
	height: 104px;
	float: right;
}
.head_left3 img{
	width: 80px;
	height: 80px;
	margin-top: 11px;
}
.head_left2{
	float: left;
	width:600px;
	height: 100px;
	margin-left: 10px;
}
.sousuo{
	width: 600px;
	height: 40px;
	margin-top: 30px;
	border: 1px solid #f90;

}
.sousuo_left1{
	width: 25px;
	height: 40px;
	float: left;
	text-align: center;
}
.sousuo_left1 span{
	font-family: 'iconfont';
	margin-top: 10px;
	line-height: 40px;
}
.sousuo_left2{
	width: 120px;
	height: 40px;
	background-color:#f90;
	float: right;
	text-align: center;
}
.sousuo_left2 span{
	line-height: 40px;
	color: #fff;
	font-size: 18px;
}
.head_wenzi{
	width: 540px;
	height: 30px;
}
.head_wenzi_item{
	width: 60px;
	height: 30px;
	float: left;	
}
.head_wenzi_item1{
	width: 60px;
	height: 30px;
	float: left;
	border-left: 1px solid #ddd;
	text-align: center;
}
.head_wenzi_item1 span:hover{
	color: red;
	cursor: pointer;
}
.head_wenzi_item1 span{
	line-height: 30px;
	color: #ddd;
	font-size: 12px;
}
.head_wenzi_item span{
	line-height: 30px;
	color: #ddd;
	font-size: 12px;
}
.daohang{
	width: 1190px;
	height: 38px;
	margin: 0 auto;
}
.daohang_left1{
	width: 190px;
	height: 38px;
	background-color: #f90;
	float: left; 
}
.daohang_left2{
	width: 800px;
	height: 38px;
	float: left;
}
.daohang_left2_item{
	width: 80px;
	height: 38px;
	text-align: center;
	float: left; 
}
.daohang_left2_item span{
	font-size: 15px;
	color: #333;
	line-height:38px;
	font-weight: 700;
}
.daohang_left2_item span:hover{
	color:red;
	cursor: pointer;
}
.daohang_left3{
	float: right;
}
.daohang_left_a{
	width: 40px;
	height: 38px;
	text-align: center;
	float:left;
}
.daohang_left_a span{
	font-family: 'iconfont';
	line-height: 38px;
}
.daohang_left_b{
	width: 150px;
	height: 38px;
	text-align: center;
	float: left;
}
.daohang_left_b span{
	color:#fff;
	font-size: 13px;
	font-weight: bold;
	line-height: 38px;
}
.banner{
	height: 448px;
	width: 100%;
}
.banner_medium{
	width: 1190px;
	height: 448px;
	margin: 0 auto;
}
.banner_medium1{
	width: 190px;
	height: 448px;
	background-color: black;
	float: left;
}
.banner_medium2{
	height: 448px;
	width: 830px;
	float: left;
	position: relative;
}
.banner_medium2:hover {
	cursor: pointer;
}
.banner_medium2:hover .banner_btn{
	cursor: pointer;
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(3, 3, 3, 0.2);
}
.banner_medium1_left{
	width: 190px;
	height: 448px;
}
.banner_medium1_left1{
	width: 190px;
	height: 448px;
}
.banner_left_left1{
	width: 190px;
	height: 32px;
	color: #fff;	
}
.banner_left_left1 span{
	font-size: 12px;
}

.banner_left_left1 i{
	font-family: 'iconfont';
	line-height: 32px;
	margin-left: 10px;
	width: 10px;
	height: 12px;
	color: #ff6700;
	text-align: center;
}
.banner_left_left1:hover {
	background-color:#fff;
	color: #000;
	cursor: pointer;
}
.banner_left_left1 span:hover {
	color:red; 
}
.banner_left_left1 e{
	color: #777;
}
.banner_medium2 img{
	width: 830px;
	height: 448px;
	position: relative;
}
.banner_btn{
	width: 41px;
	height: 69px;
	text-align: center;
	line-height: 69px;
	color: #b0b0b0;
	font-size: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	color:rgba(0, 0, 0, 0); 
	background-color: rgba(0, 0, 0, 0)
}
.banner_image{
	width: 16px;
	height:16px;
	background-color: #B0B0B0;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 8px;
	float: left;
	position: absolute;
	bottom: 5px;
	right: 315px;
}
.banner_image:hover{
	background-color:red;
	cursor: pointer;
}
.banner_image1{
	right: 340px;
}
.banner_image2{
	right: 365px;
}
.banner_image3{
	right: 390px;
}
.banner_image4{
	right: 415px;
}
.banner_image5{
	right: 440px;
}
.banner_image6{
	right: 465px;
}
.banner_image7{
	right: 490px;
}
.banner_image8{
	width: 150px;
	height: 213px;
	background-color: lightpink;
	position: absolute;
	top: 5px;
	right: 5px;
}
.banner_image8_item{
	margin-top: 17px;
    margin-left: 19px;
    width: 112px;
    height: 22px;
    font-size: 14px;
    color: #333;
}
.banner_image8_item1{
	width: 150px;
    height: 18px;
    font: 12px;
    color: #666;
    margin-top: 5px;
    margin-left: 19px;
}
.banner_image8_item2{
	width: 140px;
	height: 140px;
    margin-top:5px;
   	margin: 0 auto;
}
.banner_image8_item2 img{
	width: 140px;
	height: 140px;
}
.banner_image9{
	width: 150px;
	height: 213px;
	background-color: lightpink;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.banner_image1:hover{
	background-color: rgba(255, 255, 255,0.7);
}

.banner_image2:hover{
	background-color: rgba(255, 255, 255,0.7);
}
.banner_image1 img{
	width: 140px;
	height: 214px;
}
.banner_image2 img{
	width: 140px;
	height: 212px;
}
.banner_lbtn{
	left: 0;
}
.banner_rbtn{
	right: 0px;
}
.banner_medium3{
	height: 448px;
	width: 170px;
	float: left;
}
.banner_medium3_top{
	width: 170px;
	height: 169px;
	padding-top: 10px;
}
.banner_medium3_img{
	height:80px;
	width: 170px;
	margin: 0 auto;
}
.banner_medium3_img img{
	width: 52px;
	height: 52px;
	margin-top: 14px;
	margin-left: 59px;
}
.banner_medium3_zhaohu{
	width: 170px;
	height: 25px;
	text-align: center;
}
.banner_medium3_zhaohu h1{
	font-size: 12px;
	line-height: 25px;
	color: #333;
}
.banner_medium3_huiyuan{
	width: 170px;
	height: 25px;
	padding: 0 10px;
	margin-top: 10px;
}
.xinren{
	width: 68px;
	height: 20px;
	float: left;
	border-top: 1px solid #f90;
	border-right:1px solid #f90;
	border-left:1px solid #f90;
	text-align: center;
	line-height: 20px;

}
.xinren span{
	font-size: 12px;
	color: #f90;
}
.xinren1{
	float: left;
	width: 68px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	margin-left: 10px;
}
.xinren1 span{
	font-size: 12px;
	color: #333;
}
.banner_medium3_youhui{
	width: 150px;
	height: 38px;
	padding: 10px;
}
.banner_youhui_left{
	width: 75px;
	height: 38px;
	float: left;
	text-align: center;
	line-height: 38px
}
.banner_youhui_right{
	width: 75px;
	height: 38px;
	float: left;
	text-align: center;
	line-height: 38px
}
.bannner_medium_zhuandong{
	width: 150px;
	height: 80px;
	padding: 10px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.zhuandong_bottom{
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.zhuandong_bottom span{
	font-size: 
}
.zhuandong_top{
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
.zhuandong_top span:hover{
	color: red;
	cursor: pointer;
}
.zhuandong_top1{
 	color: red;
}
.zhuandong_top2:hover{
	color: red;
	cursor: pointer;
}
.banner_medium_bottom{
	width: 170px;
	height: 136px;
}
.banner_medium_bottom1{
	width: 169px;
	height: 68px;
	border-bottom: 1px solid #eee;
}
.banner_medium_bottom2{
	width: 170px;
	height: 68px;
	border-bottom: 1px solid #eee;
}
.redium_bottom1_item{
	width: 54px;
	height: 68px;
	text-align: center;
	line-height: 34px;
	float: left;

}
.redium_bottom1_item1{
	border-right: 1px solid #eee;	
}
.redium_bottom1_item2{
	border-right: 1px solid #eee;	
}
.redium_bottom1_item span{
	display: block;
	font-family: 'iconfont';
}
 .redium_bottom1_item:hover{
 	cursor: pointer;
 }

.redium_bottom1_item a{
	display: block;
	font-family: 'iconfont';
	margin-top: -10px;
}
.redium_bottom1_item span{
	color: #FF6700;
}
.redium_bottom1_item a:hover{
	color:red;
}
.content{
	width: 100%;
	background-color: #f2f2f2;
}
.youhui{
	width: 100%;
}
.youhui_top{
	width: 1190px;
	height: 150px;
	margin: 0 auto;
	background-color: yellow;
}
.youhui_bottom1{
	width: 1190px;
	height: 190px;
	background-color:red;
	margin: 0 auto;
	padding-bottom: 10px;
}
.youhui_bottom2{
	width: 1190px;
	height: 190px;
	background-color:red;
	margin: 0 auto;
	padding-bottom: 10px;
}
.youhui_bottom1_item{
	width: 230px;
	height: 190px;
	background-color: red;
	float: left;
}
.youhui_bottom1_item img{
	width: 230px;
	height: 190px;

}
.youhui_bottom1_item1{
	margin-left: 10px;
}
.dajuhui{
	width: 1190px;
	height: 305px;
	margin: 0 auto;
	padding-top: 20px;
}
.dajuhui_title{
	width: 1190px;
	height: 45px;
}
.dajuhui_title_left{
	width: 190px;
	height: 45px;
	background-color: red;
	text-align: center;
	line-height: 45px;
	float: left;
}
.dajuhui_title_left span{
	font-size: 18px;
	color: #fff;
}
.dajuhui_title_left a{
	font-size: 12px;
	color: #fff;
}
.dajuhui_title_right{
	float: right;
	width: 110px;
	height: 24px;
	border-radius: 10px;
	background-color: red;
	margin-top: 10px;
	text-align: center;
	line-height: 24px;
}
.dajuhui_title_right span{
	color: #fff;
	font-size: 12px;
}
.dajuhui_title_right a{
	color: #fff;
	font-size: 12px;
}
.dajuhui_bottom{
	width: 1190px;
	height: 259px;
	margin: 0 auto;
	border-top: 1px solid red;
	background-color:white;
}
.dajuhui_bottom_left{
	float: left;
	height:240px;
	width: 1000px;
	padding-top: 20px;
}
.dajuhui_bottom_right{
	float: right;
	height:250px;
	width: 180px;
	padding-top: 10px;
	padding-right: 10px;
}
.dajuhui_bottom_right img{
	height:240px;
	width: 180px;
}
.dajuhui_left_item{
	width: 200px;
	height: 240px;
	float: left;
	position: relative;
	transition: all 50s linear;
}
.dajuhui_left_item :hover{
	cursor: pointer;
}
.dajuhui5{
	position: absolute;
	width: 36px;
    top: 0;
    right: 20px;
    height: 40px;
}
.dajuhui_left_item:hover .banner_btn{
	cursor: pointer;
	color: rgba(255, 255, 255, 1.0);
	background-color: rgba(3, 3, 3, 0.2);
}

.dajuhui_left_item1{
	height: 160px;
	width: 200px;
	padding-right: 20px;
	padding-left: 20px;
}
.dajuhui_left_item1 img{
	height: 160px;
	width: 160px;
	border-right: 1px solid #eee;
}

.dajuhui_left_item2{
	width: 180px;
	height: 20px;
	padding: 10px;
	text-align: center;
	line-height: 20px;
}
.dajuhui_left_item2 span{
	font-size: 12px;
}
.dajuhui_left_item2 :hover{
	color: red;
}
.dajuhui_left_item3{
	width: 180px;
	height: 20px;
	padding: 10px;
	text-align: center;
	line-height: 20px;
}
.dajuhui_left_item3 span{
	color: red;
	font-size: 20px;
}

.dajuhui_left_item3 a{
	font-size: 16px;
	text-decoration: line-through;
}
.haohuo{
	width: 1190px;
	height: 427px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
}
.haohuo_left{
	float: left;
	width: 390px;
	height: 427px;

}
.haohuo_left1{
	margin-left: 10px;

}
.haohuo_left_title{
	width: 390px;
	height: 45px;
	background-color: #3b8c94;
	line-height: 45px;
}
.haohuo_left_title span{
	float: left;
	font-size: 15px;
	color: #fff;
	margin-left: 5px;
}
.haohuo_left_title h1{
	float: right;
	font-size: 12px;
	color: #fff;
	margin-right:5px;
}
.haohuo_left_bottom{
	height: 360px;
	width: 370px;
	padding:11px 10px;
	background-color: white;
}
.haohuo_bottom_item{
	width: 184px;
	height: 120px;
	float:left;
	border-right: 1px solid #eee;
	position: relative;
}
.haohuo_bottom_item1{
	border-top: 1px solid #eee;
	height: 119px;
}
.haohuo_bottom_item img{
	width: 90px;
	height: 90px;
	position: absolute;
	bottom: 0px;
	right: 0px;

}
.haohuo_left_bottom :hover{
	cursor: pointer;
}
.haohuo_bottom_iteml{
	width: 72px;
	margin-top: 20px;
	margin-left: 10px;
}
.haohuo_bottom_iteml span{
	width: 72px;
	color: #333;
	font-size: 16px;
}
.haohuo_bottom_item2 {
	width:72px;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
}
.haohuo_bottom_item2 span{
	width: 72px;
	height: 16px;
	color: #eee;
	font-size: 12px;
}
.haohuo_left_title1{
	background-color: #e66a07;
}
.haohuo_left_title2{
	background-color: #b62323;
}
.haohuo_left1_bottom{
	width: 370px;
	height: 362px;
	padding: 10px;
	background-color: white;
}
.haohuo_left1_bottom :hover{
	cursor: pointer;
}
.haohuo_left1_item{
	width: 183px;
	height: 180px;
	border-right: 1px solid #eee;
	float: left;
}
.haohuo_left1_item1{
	border-top: 1px solid #eee;
}
.haohuo_left1_ite1{
	width: 100px;
	height: 20px;
	background-color: #e66a07;
    line-height: 20px;
    margin-top: 14px;
    margin-left: 8px;
    border-radius: 5px;
}
.haohuo_left1_ite1 span{
	font-size: 14px;
	color: #fff;
	text-align: center;

}
.haohuo_left1_ite2{
	width: 120px;
	height: 20px;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 8px;
    padding-bottom:25px;

}
.haohuo_left1_ite2 span{
	font-size: 14px;
	color: #999;
}
.haohuo_left1_iamage{
	width:180px;
	height: 90px;
	margin-bottom: 0;
}
.haohuo_left1_iamage img{
	width:90px;
	height: 90px;
	float: left;
}
.haohuo2_bottom{
	width: 372px;
	height: 362px;
    padding: 10px 9px 10px;
    position:relative;
    background-color: white;
}
.haohuo2_bottom:hover{
	cursor: pointer;
}
.haohuo2_bottom1_item{
	width: 124px;
	height: 180px;
	float: left;
	border-bottom: 1px solid #eee;
	transition: 0.5s all;

}
.haohuo2_bottom1_item:hover ..haohuo2_bottom1_item img{
	transform: translateZ(-20px);
}

.haohuo2_bottom1_item img{
	height: 80px;
	width: 80px;
	margin-left: 22px;
}
.haohuo2_bottom_wenzi{
	width: 120px;
	height: 50px;
	text-align: center;
	margin-top: 15px;
}
.haohuo2_bottom1_item p{
	width:120px;
	height: 30px;
	color: red;
}
.haohuo_btn{
	width: 30px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	position: absolute;
	bottom: 0;
	top: 0;
	margin: auto;
	background-color: rgba(0,0,0,0);
	color: rgba(0,0,0,0);
}	
.haohuo_btn1{
	left: 0;
}
.haohuo_btn2{
	right: 0;
}
.haohuo2_bottom:hover .haohuo_btn{
	cursor: pointer;
	background-color: rgba(0,0,0,0.6);
	color: rgba(0,0,0,0.6);
}
.haohuo_image{
	width: 9px;
	height: 9px;
	background-color:#b0b0b0;
	border-radius: 50%;
	text-align: center;
	line-height: 9px;
	position: absolute;
	right: 156px;
	bottom:0px;
}
.haohuo_image1{
	right: 176px;
}
.haohuo_image2{
	right: 196px;
}
.haohuo_image:hover{
	background-color: red;
	cursor: pointer;
}
.suning_left_title{
	background-color: #c43d7e;
}
.suning_left_title1{
	background-color: #6d55bd;
}
.suning_left_title2{
	background-color:#325bb5;
}
.temai_bottom{
	width: 372px;
	height: 360px;
    padding: 11px 9px 11px;
    position:relative;
    background-color: white;
}
.temai_bottom:hover{
	cursor:pointer;
}
.temai_bottom1 img{
	width: 160px;
	height: 160px;
	margin: 0 auto;
	display: block;
	margin-top: 32px;
}
.temai_bottom1{
	width: 185px;
	height: 239px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	float: left;
}
.temai_bottom2{
	width: 185px;
	height: 239px;
	border-bottom: 1px solid #eee;
	border-right: 1px solid #eee;
	float: left;

}
.temai_bottom2_item{	
	width: 170px;
	height: 104px;
	padding-top: 14px;
	padding-left: 15px;
	border-right:1px solid #eee;
	position: relative;
}
.temai_bottom2_item1{
	width: 170px;
	height: 104px;
	padding-top: 14px;
	padding-left: 15px;
	border-top: 1px solid #eee;
	position: relative;
}
.temai_bottom2_item2{	
	width: 170px;
	height: 104px;
	padding-top: 14px;
	padding-left: 15px;
	float: left;
	border-right: 1px solid #eee;
	float: left;
	position: relative;
}
.temai_bottom1 p{
	margin-top: 10px;
	margin-right: 5px;
	font-size:14px;
	color: #333; 
}
.temai_bottom1 h1{
	color: #c43e7e;
	width: 180px;
    margin-top: 3px;
    font-size: 10px;
    line-height: 16px;
	
}
.bottom2_item_wenzi{
	width: 80px;
	height: 40px;
	color: #333;
	font-size: 14px;
}
.bottom_item_wenzi1{
	width: 72px;
    height: 16px;
    color: #999;
    margin-top: 10px;
    font-size: 12px;
}
.bottom_item_wenzi2{
	width: 90px;
    height: 90px;
    bottom: 3px;
    right: 3px;
    position: absolute;
}
.shengxian{
	width: 1190px;
	height: 530px;
    margin: 0 auto;
}
.shengxian_left{
	width: 800px;
	height: 100%;
	float: left;
}
.shengxian_left:hover{
	cursor: pointer;
}
.shengxian_right{
	width: 390px;
	height: 100%;
	float: right;
	background-color: white;
}
.shengxian_left_item{
	width: 390px;
	height: 170px;
	background: -webkit-linear-gradient(left,#e89621,#f5c568);
	overflow: hidden;
	position: relative;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	transition: all 50s linear;
	}
.shengxian_left_item1{
	background: -webkit-linear-gradient(left,#325bb4, #4c9afe);
}
.shengxian_left_item2{
	background: -webkit-linear-gradient(left,#1c9daf,#40cda7);
}
.shengxian_left_item3{
	background: -webkit-linear-gradient(left,#d13837,#df6d4f);
}
.shengxian_left_item4{
	background: -webkit-linear-gradient(left,#5d40c1,#8c5fdb);
}
.shengxian_left_item5{
	background: -webkit-linear-gradient(left,#ca4283,#eb75cf);
}
.n_line{
	width: 78px;	
	height: 2px;		
	display: block;
	background:-webkit-linear-gradient(left,rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.1));
	margin-left:35px;
	margin-top:35px;
}
.left_item_wenzi{
	font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    margin: 5px 0 5px 35px;
    color: #FFF;
}
.w_line{
	width: 140px;	
	height: 2px;		
	display: block;
	background:-webkit-linear-gradient(left,rgba(255, 255, 255, 1),rgba(255, 255, 255, 0.1));
	margin: 5px 0 5px 35px;
	display: block;
	
}
.shengxian_left_wenzi1{
	font-size: 14px;
    line-height: 20px;
    margin: 5px 0 0 35px;
    color: #FFF;
}
.shengxian_left_img{
	position: absolute;
    width: 170px;
    height: 170px;
    right:25px;
    top: 0; 
}
.shengxian_left_item:hover .shengxian_left_img{
	transform: translateX(-20px);
}
.shengxian_right1{
	width: 390px;
	height: 350px;
	margin-bottom: 10px;

}
.shengxian_right1_top{
	width: 390px;
	height: 227px;
}
.shengxian_title{
	width: 100%;
	height: 45px;
	color: #FFF;
    background: #3f3435;
}
.shengxian_title h5{
	font-size: 18px;
    line-height: 45px;
    font-weight: bold;
    padding-left: 15px;
}
.shengxian_neirong{
	width: 100%;
	height: 100%;
	position: relative;
}
.shengxian_neirong1{
	width: 100%;
	height: 100%;
}
.shengxian_neirong2{
	font-family: 'iconfont'; 
	position: absolute;
    top: 80px;
    left: 170px;
    width: 50px;
    height: 50px;
    font-size: 50px;
    color: #fff;
}
.shengxian_neirong2:hover{
	color: yellow;
}
.shengxian_neirong:hover{
	cursor: pointer;
}
.shengxian_neirong3{
   position: absolute;
   top: 19px;
   left: 41px;
   width: 58px;
   height: 18px;
   background-color: rgba(3,3,3,0.6);
   border-radius: 10px;
   
    }
.shengxian_neirong4{
    font-family: 'iconfont';
    font-size: 10px;
    color: yellow;
    float: left;
    line-height: 18px;
    margin-left: 3px;
    margin-top: 3px;
    }
.shengxian_neirong5{
	line-height: 18px;
	font-size: 10px;
	float: left;
	color: #fff;
	margin-left: 10px;
}
.shengxian_neirong6{
	height: 45px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	bottom: 0;
}
.shengxian_neirong7{
	font-size: 14px;
    line-height: 45px;
    margin-left: 35px;
    color: #fff;
}
.shengxian_nerrong_medium{
    width: 390px;
    height: 73px;
    margin-top: 5px;
	}
.shengxian_medium_item{
	width: 128px;
    height: 73px;
    float: left;
    position: relative;

	}
.shengxian_medium_item1{
	width: 128px;
    height: 73px;
    float: left;
    margin: 0 3px 0;
    position: relative;
	}
.shengxian_medium_item2{
	width: 128px;
    height: 73px;
	}
.shengxian_medium_item3{
	font-family: 'iconfont'; 
	position: absolute;
    top: 18px;
    left: 51px;
    width: 25px;
    height: 25px; 
    color: #fff;
    line-height: 25px;
	}
.shengxian_medium_item4{
    position: absolute;
    width: 112px;
    height: 20px;
    left: 8px;
    color: #FFF;
    bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
    .shengxian_medium_item:hover{
    	cursor: pointer;
    }
    .shengxian_medium_item1:hover{
		cursor: pointer;
    }
    .shengxian_medium_item3:hover{
    	color: yellow;
    }
    .shengxian_nerong_bottom{
    	width: 390px;
    	height: 170px;
    	margin-top: 10px;
    	transition: all 20s linear;
    }
    .shengxian_nerong_bottom:hover{
		cursor: pointer;
    }
    .shengxian_nerong_bottom1{
    	width: 190px;
    	height: 170px;
    	float: left;
    	background: -webkit-linear-gradient(left,#6ea166,#9fc766);

    }
    .shengxian_nerong_bottom2{
    	width: 190px;
    	height:170px;
    	float: left;
    	margin-left: 10px;
    	background: -webkit-linear-gradient(left,#4023bb,#5871e9);
    }
    .shengxian_bottom_wenzi{
    	color: #fff;
    	width: 120px;
    	height: 26px;
    	margin-top: 5px;
    	font-weight: bold;
    	font-size: 20px;
    	line-height: 26px;
    	margin-left: 35px;
    }
    .shengxian_bottom_wenzi1{
    	height: 20px;
    	width: 126px;
    	font-size: 14px;
    	line-height: 20px;
    	margin-left: 35px;
		color: #FFF;
		margin-top: 5px;
    }
    .shengxian_bottom_image{
    	width: 190px;
    	height: 100px;
    	margin-top: 15px;
    }
    .shengxian_bottom_image:hover{
    	transform: translateX(-30px);
    }
    .mengbao{
    	width: 1190px;
    	height: 100px;
    	margin: 0 auto;
    	margin-top: 20px;
    }
    .mengbao :hover{
    	cursor: pointer;
    }
    .mengbao1{
    	width: 396px;
    	height: 100px;
   		float: left;
    }
	.mengbao_img{
		width: 396px;
		height: 100px;
	}
	.mengbao_img1{
		width: 397px;
		height: 100px;
	}
	.mengbao2{
		width: 397px;
    	height: 100px;
   		float: left;
	}
	.shouji{
		width: 1190px;
		height: 565px;
		margin: 0 auto;
		margin-top: 25px;
	}
	.shouji_left{
		width: 590px;
		height: 565px;
		float: left;
		position:relative;
		background-color: white;
	}
	.shouji_left:hover{
		cursor: pointer;
	}
	.shouji_right{
		width: 590px;
		height: 565px;
		float: left;
		margin-left: 10px;
		position:relative;
		background-color: white;
	}
	.shouji_left_title{
		width: 100%;
		height: 44px;
		background-color:#f0f7f4; 
		border-top: 1px solid #33ae75;
	}
	.shouji_left_titlel{
		width: 190px;
		height: 44px;
		background-color: #33ae75;
		overflow: hidden;
		float: left;
	}
	.shouji_left_title3{
    	font-size: 18px;
    	color: #fff;
	}
	.shouji_left_title1{
    	height: 44px;
    	margin-left: 15px;
    	float: left;
    	width: 72px;
    	margin-top: 10px;
	}
	.shouji_left_title2{
		width: 24px;
    	height: 24px;
    	margin: 10px 0 0 10px;
    	float: left;
	}
	.shouji_left_title2 img{
    	width: 24px;
    	height: 24px;
	}
	.shouji_left_titler{
		width: 306px;
		height: 20px;
		float: right;
    	margin: 14px 18px 0 0;
	}
	.shouji_left_titler1{
		width: 56px;
		height: 20px;
		float: left;
		margin-left: 20px;
		color: #666;
		font-size: 14px;
    	line-height: 20px;
	}
	.shouji_neirong_left{
		width: 190px;
		height: 360px;
		float: left;
	}
	.shouji_neirong_left1{
		width: 190px;
		height: 360px;	
	}
	.cover{
		width: 190px;
		height: 90px;
		position: absolute;
		background-color: #33ae75;
		top: 315px;
		left: 0;
	}
	.cover_wenzi{
		margin-top: 15px;
    	margin-left: 14px;
    	width: 160px;
    	height: 30px;
    	color: #FFF;
    	font-size:20px;
    	font-weight: bold;
	}
	.cover_wenzi1{
		margin-top:5px;
    	margin-left: 10px;
    	color: #FFF;
    	width: 170px;
    	height: 22px;
    	font-size:12px;
	}
	.shouji_neirong_right{
		height: 360px;
		width: 400px;
		float: left;

	}
	.shouji_right_item{
		height: 179px;
		width: 199px;
		float: left;
		border-right: 1px solid #eee;
		border-bottom: 1px solid #eee;

	}
	.shouji_right_item1{
		height: 179px;
		width: 200px;
		float: left;
		border-bottom: 1px solid #eee;

	}
	.shouji_item_wenzi{
		width: 180px;
    	height: 24px;
    	text-align: center;
    	margin: 14px auto 0;
    	font-size:16px;
    	color: #333;
	}
	.shouji_item_wenzi1{
		color: #33ae75;
		width: 180px;
    	height: 20px;
    	text-align: center;
    	margin: 0 auto;
    	font-size:12px; 
	}
	.shouji_right_image{
		display: block;
    	width: 120px;
    	height: 120px;
    	margin: 0 auto;
	}
	.neirong_bottom{
		width: 590px;
		height: 160px;
		float: left;
	}
	.neirong_bottom_item{
		width: 188px;
		height: 109px;
		border-bottom: 1px solid #eee;
		float: left;
		overflow: hidden;
		position: relative;
	}
	.neirong_bottom_item1{
		width: 200px;
		height: 109px;
		border-bottom: 1px solid #eee;
		border-left:1px solid #eee; 
		float: left;
		position: relative;
	}
	.neirong_bottom_wenzi{
		width: 70px;
    	color: #333;
    	height: 24px;
    	margin-top: 27px;
    	padding-left: 20px;
    	font-size: 14px;
	}
	.neirong_bottom_wenzi1{
		color: #33ae75;
        width: 72px;
        height: 22px;
        padding-left: 20px;
        overflow: hidden;
        font-size:12px;

	}
	.neirong_bottom_tupian{
		top: 15px;
    	right: 15px;
    	width: 80px;
    	height: 80px;
    	position: absolute;
	}
	.neirong_bottom_last{
		width: 590px;
		height: 40px;
		float: left;
	}
	.neirong_bottom_last1{
		width: 85px;
		height: 30px;
		margin-top: 5px;
		margin-left: 9px;
		float: left;
	}
	.neirong_bottom_last2{
		width: 85px;
		height: 30px;
		margin-top: 5px;
		margin-left: 9px;
		float: left;
	}
	.neirong_bottom_last1 img{
		width: 80px;
		height: 30px;
	}
	.neirong_bottom_last2 img{
		width: 80px;
		height: 30px;
	}
	.jiadian{
		width: 1190px;
		height: 455px;
		margin: 0 auto;
		margin-top: 20px;
		position: relative;
		background-color: white;
	}
	.jiadian:hover{
		cursor: pointer;
	}
	.jiadian_title{
		width: 1190px;
		height: 43px;
		border-top: 2px solid #5f6cb7;
		background-color: #eff0f8;
		float: left;
	}
	.jiadian_titler{
		float: right;
		width: 394px;
	}
	.jiadian_neirong_right{
		float: left;
    	width: 200px;
    	height: 360px;
    	background-color: #eee;
    	position: relative;
	}
	.jiadian_neirong_right1{
		top: 15px;
    	left: 21px;
    	width: 100px;
    	height: 25px;
    	color: #5f6cb7;
    	font-weight: bold;
    	font-size: 20px;
    	position: absolute;
	}
	.jiadian_neirong_right2{
		top: 50px;
    	font-size: 12px;
    	left:21px;
    	color: #5f6cb7;
    	position: absolute;
	}
	.jiadian_neirong_right3{
		width: 200px;
    	height: 360px;
    	top:0;
    	position: absolute;
	}
	.jiadian_bottom{
		width: 1190px;
		height: 40px;
		float: left;
	}
	.biqiang{
		width: 1190px;
		height: 385px;
		margin: 0 auto;
		margin-top: 20px;
	}
	.biqing_left{
		width: 590px;
		height: 385px;
		float: left;
		background-color: white;
	}
	.biqing_left:hover{
		cursor:pointer;
	}
	.biqing_right{
		width: 590px;
		height: 385px;
		float: left;
		margin-left: 10px;
		background-color: white;
	}
	.biqing_right:hover{
		cursor: pointer;
	}
	.biqing_left_title{
		background-color:#ffaa01;
		width: 100%;
		height: 46px; 
		}
	.biqing_title_wenzi{
		float: left;
    	padding-left: 15px;
    	font-size: 18px;
    	font-weight: bold;
    	line-height: 45px;
    	color: #FFF;
	}
	.biqing_title_wenzi1{
		float: right;
    	margin: 15px 10px 0 0;
    	color: #FFF;
    	font: 12px;
    }
    .biqing_left_neirong{
    	margin-left:20px;
    	width: 570px;
    	height: 316px;
   }
   .biqing_left_neirong1{
   		width: 285px;
   		height: 316px;
   		float: left;
   }
   .biqing_left_neirong2{
   		width: 285px;
   		height: 316px;
   		float: left;
   }
   .biqing_neirong_top{
   		width: 100%;
   		height: 50%;
   		float: left;	
   }
   .biqing_neirong_top1{
   		width: 100%;
   		height: 50%;
		float: left;
   }
   .biqing_neirong_wenzi{
   		width: 240px;
    	height: 18px;
    	font-size:12px;
    	margin-left: 10px;
    	margin-top: 15px;
    	overflow: hidden;
    	padding-bottom: 10px;
   }
   .biqing_neirong_wenzi:hover{
   		color: red;
   }
   .biqing_neirong_wenzi1{
   		padding: 0 5px;
    	color: #FFF;
    	height: 16px;
    	width: 37px;
    	margin-left: 10px;
    	line-height: 16px;
    	background-color: #fe9b00;
    	float: left;
   }
   .biqing_neirong_wenzi2{
    	width: 240px;
   		height: 16px;
    	margin-left: 5px;
    	color: #999;
    	font-size:12px;
    	line-height: 16px;
   }
   .biqing_neirong_img{
   		float: left;
    	width: 85px;
    	height: 85px;
   	 	margin: 10px 5px 0 0;
   }
	.biqing_neirong_img1{
   	 	margin-left: 12px;
   	 	float: left;
    	width: 85px;
    	height: 85px;
    	margin-right: 5px;
    	margin-top: 10px;
   }
   .biqing_right_neirong{
   		float: left;
   		width: 530px;
    	height: 300px;
    	margin: 30px 0 0 30px;
   }
   .biqing_right_neirong1{
   		float: left;
    	width: 160px;
    	margin-right: 25px;
    	height: 100%;
   }
   .biqing_right_neirong8{
   		float: left;
    	width: 160px;
    	height: 100%;
   }
   .biqing_right_neirong2{
   		width: 160px;
    	height: 160px;
	}
  	.biqing_right_neiron3{
  		color: #333;
  		margin-top: 18px;
  		font-size: 12px;
  	}
  	.biqing_right_neiron4{
    	height: 21px;
    	margin-top:10px;
    	font-size:12px;
    	text-align: center;
    	color: #FFF;
    	background-color:#F90;
  	}
  	.biqing_right_neiron5{
		height: 21px;
   		margin-top: 10px;
  	}
  	.biqing_right_neiron6{
  		float: left;
  		color: #999;
		font-size: 12px;
  	}
  	.biqing_right_neiron7{
  		float: right;
  		color: #999;
		font-size: 12px;
  	}
  	.cainixihuan{
  		width: 1190px;
  		margin: 0 auto;
  	}
  	.cainixihuan_title{
  		width: 100%;
    	height: 22px;
    	margin-top: 20px;

  	}
  	.cainixihuan_border{
  		float: left;
    	width: 3px;
    	height: 20px;
    	background: #fe9901;
  	}
  	.cainixihuan_wenzi{
  		float: left;
    	margin-left: 12px;
    	font-weight:bold;
    	font-size:18px; 
    	line-height: 20px;
  	}
  	.cainixihuan_neirong{
  		width: 1190px;
  		height: 340px;
		background-color: white;
  	}
  	.cainixihuan_neirong:hover{
  		cursor: pointer;
  	}
  	.cainixihuan_item{
  		width: 237px;
  		height: 340px;
  		border-right: 1px solid #eee;
  		float: left;
  		position: relative;
  	}
  	.cainixihuan_item1{
  		width: 238px;
  		height: 340px;
  		float: left;
  		position: relative;
  	}
  	.cainixihuan_item_img{
  		width: 200px;
    	height: 200px;
    	margin: 20px auto 0;
    	display: block;
		overflow: hidden;
  	}
  	.cainixihuan_item_img1{
  		height: 198px;
  		border-bottom: 2px solid #eee;
  	}
  	.cainixihuan_wenzi3{
    	width: 200px;
		display: block;
    	font-size:12px;
    	margin-left:20px;
    	color: #333;
    	overflow: hidden;
    	margin-top: 15px;
  	}
  	.cainixihuan_wenzi3:hover{
    	color: red;
  	}
  	.cainixihuan_wenzi1{
		float: left;
    	line-height: 16px;
    	padding: 0 2px;
    	margin: 2px 5px 0 0;
    	border: 1px solid #F60;
    	border-radius: 3px;
    	color: #F60;
    	overflow: hidden;
  	}
  	.cainixihuan_wenzi2{
    	color: #F60;
    	font-size: 16px;
    	font-weight: bold;
    	position: absolute;
    	left: 20px;
    	bottom: 30px;
    }
    .cainixihuan_item3{
    	height: 339px;
    	border-bottom: 1px solid #eee;
    }
    .cainixihuan_end{
    	width:250px;
    	height: 22px;
    	text-align: center;
    	color: #CCC;
    	margin: 15px auto;
    	text-align: center;
    }
    .line_left{
		margin-top: 10px;
    	width: 97px;
    	height: 1px;
    	background-color:#CCC;
    	margin-right: 0px;
    	float: left;
    }
    .line_left1{
    	font-size: 18px;
    	line-height: 22px;
    	margin-left: 5px;
    	margin-right: 5px;
    	float: left;
    }
    .line_right{
      	margin-top: 10px;
    	width: 97px;
    	height: 1px;
    	text-align: center;
    	background-color:#CCC; 
    	margin-left: 0px;
    	float: left;
    }
    .footer{
    	width: 100%;
    	height: 453px;
    	background-color:#f5f5f5;
    	border-top: 1px solid #e7e7e7;
    	margin-top: 10px;
    }
    .footer_top{
		width: 1190px;
    	margin: 0 auto;
    	height: 280px;

	}
	.footer_promise{
		width: 1250px;
    	padding: 12px 0;
    	height: 73px;
    	border-bottom: 1px solid #eaeaea;
    	float: left;
	}
	
	.footer_promise_item{
		width: 250px;
		float: left;
	}
	.footer_promise_item1{
		width: 48px;
    	height: 48px;
    	float: left;
    	float: left;
	}
	.footer_promise_item1:hover{
		cursor: pointer;
	}
	.footer_wenzi{
		float: left;
		width: 180px;
    	height: 48px;
    	margin-left: 15px;
	}
	.footer_wenzi1{
    	color: #333;
    	font-weight: 700;
    	color: #222;
    	font-size: 14px;
    	line-height: 24px
	}
	.footer_wenzi1:hover{
    	color: red;
	}
	.footer_wenzi2{
		line-height: 24px;
    	width: 100%;
    	color: #545454;
	}
	.footer_neirong{
    	width: 1050px;
    	float: left;
    	height: 180px;
	}
	.footer_neirong_item{
		width: 210px;
    	float: left;
    	height: 160px;
    	overflow: hidden;
	}
	.footer_neirong_item1{
		width: 210px;
    	line-height: 40px;
    	font-weight: 700;
    	color: #545454;
    	font-size: 14px;
	}
	.footer_neirong_item2{
		color: #545454;
   		width: 100%;
    	line-height: 22px;
    	font-size: 12px;
	}
	.footer_neirong_item2:hover{
		cursor: pointer;
		color: red;
	}
	.footer_neirong_right{
		float: left;
    	height: 180px;
    	width:140px;
	}
	.footer_neirong_right1{
		width: 100%;
    	line-height: 40px;
    	font-weight: 700;
    	color: #545454;
    	height: 35px;
    	font-size: 14px;
    	margin-bottom: 5px;
    	overflow: hidden;
	}
	.footer_neirong_right2{
		color: #333;
		font-size: 12px;
	}
	.footer_neirong_right2:hover{
		cursor: pointer;
		color: red;
	}
	.footer_last{
		width: 1190px;
    	font-size: 12px;
    	margin: 0 auto;
    	height: 175px;
	}
	.footer_last_wenzi{
		width: 1190px;
    	height: 25px;
    	padding-top: 15px;
    	text-align: center;
	}
	.footer_last_wenzi:hover{
		cursor: pointer;
	}
	.footer_last_wenzi1{
		color: #888;
    	padding: 0 8px;
    	line-height: 25px;
    	height: 25px;
    	width: 18px;
    	font-size: 12px;
	}
	.footer_last_wenzi1{
		cursor: pointer;
	}
	.footer_last_wenzi2{
		color: #888;
    	padding: 0 8px;
    	line-height: 25px;
	}
	.footer_last_wenzi3{
		color: #999;
	}
	.footer_last_wenzi4{
		width: 1190px;
    	height: 25px;
    	text-align: center;
	}
	.neirong_last_img{
		width: 1190px;
		height: 25px;
		margin: 0 auto;
		padding-top: 10px;
	}
	.neirong_last_img:hover{
		cursor:pointer;
	}
	.neirong_last_img1{
		height: 24px;
    	width: 76px;
    	margin-right: 15px;
    	margin-left: 536px;
    	float: left;
    }
    .neirong_last_img2{
    	float: left;
    	height: 24px;
    	width: 76px;
    	margin-right: 15px;
    }
    .neirong_last_img3{
		height: 24px;
    	width: 76px;
    }

    

	

    
	
